<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlite1" connectionString="Data Source=|DataDirectory|\\test.db" />
    <add name="sqlite2" connectionString="Data Source=|DataDirectory|\\test.db" />
    <add name="sqlite3" connectionString="Data Source=|DataDirectory|\\test.db" />
    <add name="sqlite4" connectionString="Data Source=|DataDirectory|\\test.db" />
    <add name="sqlite5" connectionString="Data Source=|DataDirectory|\\test.db" />
    <add name="sqlite6" connectionString="Data Source=|DataDirectory|\\test.db" />
  </connectionStrings>
</configuration>